In [79]:
import yfinance as yh
import bs4 as bs
import requests
import datetime
import pandas as pd

In [16]:
#GET TICKERS

resp = requests.get('http://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
soup = bs.BeautifulSoup(resp.text, 'lxml')
table = soup.find('table', {'class': 'wikitable sortable'})

In [18]:
tickers = []

for row in table.findAll('tr')[1:]:
    ticker = row.findAll('td')[0].text
    tickers.append(ticker)

In [20]:
tickers = [s.replace('\n', '') for s in tickers]

In [27]:
df_SP500 = yahooFinance.download(tickers).Close

[*******               15%%                      ]  76 of 503 completed

$BF.B: possibly delisted; No price data found  (1d 1925-06-27 -> 2024-06-03)

[*********************100%%**********************]  503 of 503 completed

2 Failed downloads:
['BRK.B']: YFTzMissingError('$%ticker%: possibly delisted; No timezone found')
['BF.B']: YFPricesMissingError('$%ticker%: possibly delisted; No price data found  (1d 1925-06-27 -> 2024-06-03)')

In [35]:
#will drop BF.B and BRK.B
df_SP500.drop(columns=['BRK.B', 'BF.B'], inplace= True)

In [38]:
df_SP500.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 15712 entries, 1962-01-02 to 2024-06-03
Columns: 501 entries, A to ZTS
dtypes: float64(501)
memory usage: 60.2 MB

In [40]:
df_SP500

Ticker,A,AAL,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,...,WTW,WY,WYNN,XEL,XOM,XYL,YUM,ZBH,ZBRA,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
1962-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.578125,NaN,NaN,NaN,NaN,NaN
1962-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.601563,NaN,NaN,NaN,NaN,NaN
1962-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.605469,NaN,NaN,NaN,NaN,NaN
1962-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.570313,NaN,NaN,NaN,NaN,NaN
1962-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.566406,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-05-28,148.210007,13.440,189.990005,155.339996,147.009995,101.949997,102.250000,297.730011,478.429993,233.440002,...,250.630005,29.760000,93.510002,53.740002,114.860001,140.360001,135.860001,116.330002,326.239990,171.300003
2024-05-29,145.479996,11.620,190.289993,154.789993,146.610001,100.730003,101.550003,293.769989,477.600006,228.149994,...,249.679993,29.360001,92.529999,53.299999,113.629997,137.949997,134.669998,115.139999,316.929993,170.800003
2024-05-30,131.419998,11.440,191.289993,156.309998,145.520004,101.739998,101.410004,284.799988,445.869995,230.000000,...,251.360001,29.719999,92.540001,54.320000,113.989998,139.399994,134.839996,114.440002,316.619995,169.440002
2024-05-31,130.410004,11.500,192.250000,161.240005,144.929993,102.190002,102.629997,282.290009,444.760010,234.490005,...,255.289993,30.030001,94.879997,55.450001,117.260002,141.020004,137.429993,115.150002,312.339996,169.559998
2024-06-03,131.764999,11.515,NaN,160.440002,145.229996,102.739998,100.930000,281.470001,439.260010,229.800003,...,253.785004,29.674999,93.714996,54.880001,114.464996,137.800201,137.979996,113.669998,303.730011,171.259995

In [45]:
yahooFinance.Ticker(tickers[0]).info.keys()

dict_keys(['address1', 'city', 'state', 'zip', 'country', 'phone', 'website', 'industry', 'industryKey', 'industryDisp', 'sector', 'sectorKey', 'sectorDisp', 'longBusinessSummary', 'fullTimeEmployees', 'companyOfficers', 'auditRisk', 'boardRisk', 'compensationRisk', 'shareHolderRightsRisk', 'overallRisk', 'governanceEpochDate', 'compensationAsOfEpochDate', 'irWebsite', 'maxAge', 'priceHint', 'previousClose', 'open', 'dayLow', 'dayHigh', 'regularMarketPreviousClose', 'regularMarketOpen', 'regularMarketDayLow', 'regularMarketDayHigh', 'dividendRate', 'dividendYield', 'exDividendDate', 'payoutRatio', 'fiveYearAvgDividendYield', 'beta', 'forwardPE', 'volume', 'regularMarketVolume', 'averageVolume', 'averageVolume10days', 'averageDailyVolume10Day', 'bid', 'ask', 'bidSize', 'askSize', 'marketCap', 'fiftyTwoWeekLow', 'fiftyTwoWeekHigh', 'priceToSalesTrailing12Months', 'fiftyDayAverage', 'twoHundredDayAverage', 'trailingAnnualDividendRate', 'trailingAnnualDividendYield', 'currency', 'enterpriseValue', 'profitMargins', 'floatShares', 'sharesOutstanding', 'sharesShort', 'sharesShortPriorMonth', 'sharesShortPreviousMonthDate', 'dateShortInterest', 'sharesPercentSharesOut', 'heldPercentInsiders', 'heldPercentInstitutions', 'shortRatio', 'shortPercentOfFloat', 'impliedSharesOutstanding', 'bookValue', 'priceToBook', 'lastFiscalYearEnd', 'nextFiscalYearEnd', 'mostRecentQuarter', 'earningsQuarterlyGrowth', 'netIncomeToCommon', 'trailingEps', 'forwardEps', 'pegRatio', 'lastSplitFactor', 'lastSplitDate', 'enterpriseToRevenue', 'enterpriseToEbitda', '52WeekChange', 'SandP52WeekChange', 'lastDividendValue', 'lastDividendDate', 'exchange', 'quoteType', 'symbol', 'underlyingSymbol', 'shortName', 'longName', 'firstTradeDateEpochUtc', 'timeZoneFullName', 'timeZoneShortName', 'uuid', 'messageBoardId', 'gmtOffSetMilliseconds', 'currentPrice', 'targetHighPrice', 'targetLowPrice', 'targetMeanPrice', 'targetMedianPrice', 'recommendationMean', 'recommendationKey', 'numberOfAnalystOpinions', 'totalCash', 'totalCashPerShare', 'ebitda', 'totalDebt', 'quickRatio', 'currentRatio', 'totalRevenue', 'debtToEquity', 'revenuePerShare', 'returnOnAssets', 'returnOnEquity', 'freeCashflow', 'operatingCashflow', 'earningsGrowth', 'revenueGrowth', 'grossMargins', 'ebitdaMargins', 'operatingMargins', 'financialCurrency', 'trailingPegRatio'])

In [54]:
# startDate , as per our convenience we can modify
startDate = datetime.datetime(2000, 1, 1)

In [60]:
df_SP500_2000 = yf.download(tickers, start=startDate).Close

[********              17%%                      ]  83 of 503 completed

$BF.B: possibly delisted; No price data found  (1d 2000-01-01 00:00:00 -> 2024-06-03)

[*********************100%%**********************]  503 of 503 completed

2 Failed downloads:
['BRK.B']: YFTzMissingError('$%ticker%: possibly delisted; No timezone found')
['BF.B']: YFPricesMissingError('$%ticker%: possibly delisted; No price data found  (1d 2000-01-01 00:00:00 -> 2024-06-03)')

In [63]:
df_SP500_2000.drop(columns = ['BRK.B', 'BF.B'], inplace = True)

In [106]:
df_SP500_2000

Ticker,A,AAL,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,...,WTW,WY,WYNN,XEL,XOM,XYL,YUM,ZBH,ZBRA,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-03,51.502148,NaN,0.999442,NaN,NaN,15.711531,1.277778,NaN,16.390625,45.093750,...,NaN,69.875000,NaN,19.000000,39.156250,NaN,6.706057,NaN,25.027779,NaN
2000-01-04,47.567955,NaN,0.915179,NaN,NaN,15.262630,1.270833,NaN,15.015625,42.812500,...,NaN,67.250000,NaN,19.437500,38.406250,NaN,6.571262,NaN,24.666668,NaN
2000-01-05,44.617310,NaN,0.928571,NaN,NaN,15.234574,1.388889,NaN,15.312500,43.437500,...,NaN,70.812500,NaN,20.187500,40.500000,NaN,6.604960,NaN,25.138889,NaN
2000-01-06,42.918453,NaN,0.848214,NaN,NaN,15.767643,1.375000,NaN,15.437500,42.250000,...,NaN,74.125000,NaN,20.000000,42.593750,NaN,6.548796,NaN,23.777779,NaN
2000-01-07,46.494991,NaN,0.888393,NaN,NaN,15.935981,1.451389,NaN,16.187500,43.437500,...,NaN,71.687500,NaN,20.000000,42.468750,NaN,6.402768,NaN,23.513889,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-05-28,148.210007,13.4400,189.990005,155.339996,147.009995,101.949997,102.250000,297.730011,478.429993,233.440002,...,250.630005,29.760000,93.510002,53.740002,114.860001,140.360001,135.860001,116.330002,326.239990,171.300003
2024-05-29,145.479996,11.6200,190.289993,154.789993,146.610001,100.730003,101.550003,293.769989,477.600006,228.149994,...,249.679993,29.360001,92.529999,53.299999,113.629997,137.949997,134.669998,115.139999,316.929993,170.800003
2024-05-30,131.419998,11.4400,191.289993,156.309998,145.520004,101.739998,101.410004,284.799988,445.869995,230.000000,...,251.360001,29.719999,92.540001,54.320000,113.989998,139.399994,134.839996,114.440002,316.619995,169.440002
2024-05-31,130.410004,11.5000,192.250000,161.240005,144.929993,102.190002,102.629997,282.290009,444.760010,234.490005,...,255.289993,30.030001,94.879997,55.450001,117.260002,141.020004,137.429993,115.150002,312.339996,169.559998
2024-06-03,131.949997,11.5307,193.050003,160.169998,144.600006,102.974998,100.724998,281.445007,NaN,229.570007,...,253.619995,29.680000,93.840302,54.959999,114.254997,137.869995,137.800003,113.900002,304.320007,171.490005

In [111]:
df_SP500_2000.to_csv("df_SP500_2000.csv")

In [118]:
df_SP500

Ticker,A,AAL,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,...,WTW,WY,WYNN,XEL,XOM,XYL,YUM,ZBH,ZBRA,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
1962-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.578125,NaN,NaN,NaN,NaN,NaN
1962-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.601563,NaN,NaN,NaN,NaN,NaN
1962-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.605469,NaN,NaN,NaN,NaN,NaN
1962-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.570313,NaN,NaN,NaN,NaN,NaN
1962-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.566406,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-05-28,148.210007,13.440,189.990005,155.339996,147.009995,101.949997,102.250000,297.730011,478.429993,233.440002,...,250.630005,29.760000,93.510002,53.740002,114.860001,140.360001,135.860001,116.330002,326.239990,171.300003
2024-05-29,145.479996,11.620,190.289993,154.789993,146.610001,100.730003,101.550003,293.769989,477.600006,228.149994,...,249.679993,29.360001,92.529999,53.299999,113.629997,137.949997,134.669998,115.139999,316.929993,170.800003
2024-05-30,131.419998,11.440,191.289993,156.309998,145.520004,101.739998,101.410004,284.799988,445.869995,230.000000,...,251.360001,29.719999,92.540001,54.320000,113.989998,139.399994,134.839996,114.440002,316.619995,169.440002
2024-05-31,130.410004,11.500,192.250000,161.240005,144.929993,102.190002,102.629997,282.290009,444.760010,234.490005,...,255.289993,30.030001,94.879997,55.450001,117.260002,141.020004,137.429993,115.150002,312.339996,169.559998
2024-06-03,131.764999,11.515,NaN,160.440002,145.229996,102.739998,100.930000,281.470001,439.260010,229.800003,...,253.785004,29.674999,93.714996,54.880001,114.464996,137.800201,137.979996,113.669998,303.730011,171.259995